<!DOCTYPE html>
<html>
  <head>
    <title>Stri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css2?family=Syncopate:wght@700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5fbea3a1e3.js" crossorigin="anonymous"></script>
    <%= favicon_link_tag asset_path('double-up-arrow.png') %>

<meta 
  property=”og:title”
  content=”Stri” 
/>
<meta 
  name=”image” 
  property=”og:image” 
  content="<%= image_url('feed.png') %>"/>
/>
<meta 
  name=”author” 
  content=”Kevin Su” 
/>
<meta 
  property=”og:description” 
  content=”Full-Stack clone of strava.com – React/Redux, Ruby on Rails, PostgresSQL, AJAX“
/>
<meta 
  property=”og:url” 
  content=”https://stri-app.herokuapp.com/" 
/>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
